textarea, input, button { outline: none !important; box-shadow:none !important; }
textarea:focus, input:focus, button:focus { outline: none !important; box-shadow:none !important; }

.sync-btn {
  cursor: pointer;
}

td {
  cursor: pointer;
  color: #337ab7;
}

.flagged {
  color: red;
}

.article-title {
  color: inherit;
}

.article-title:hover, .article-title:active, .article-title:focus {
  color: inherit;
  text-decoration: none;
}

.done {
  color: #bbbaba !important;
}

.done .article-source {
  color: #bbbaba !important;
}

.article-source {
  color: gray;
}

.btn-round {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.btn-float {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px 25px 20px 25px;
  border-radius: 100%;
}

.container {
  padding-bottom: 95px;
}

.text-accent {
  color: #5868f9;
}

.btn-accent {
  color: white;
  background-color: #5868f9 !important;
}

.btn-accent:active, .btn-accent:hover, .btn-accent:focus {
  color: white;
  background-color: #5868f9 !important;
  border: none !important;
}

.panel {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.panel-accent {
  border-color: #5868f9;
}
.panel-accent > .panel-heading {
    color: #eaedff;
    background-color: #5868f9;
    border-color: #5868f9;
}

/* Vertical align modal */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    width: 90%;
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}
