<template name="filters">
  <div id="filters" style="display: none;">
    <nav class="navbar navbar-default" style="background: #313daf; border: none;border-radius: 0;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-1" style="padding: 0;">
          </div>
          <div class="col-xs-10" style="padding: 0;color:white">
            <div class="navbar-header" style="text-align: center;">
              <a class="navbar-brand" style="display: inline-block;float: none;color:white">
                Filters
              </a>
            </div>
          </div>
          <div class="col-xs-1" style="padding: 0;">
          </div>
        </div>
      </div>
    </nav>
    <div class="container" style="padding-bottom:0">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a class="btn btn-default js-toggle-done {{getBtnSelectedDone false}}" data-done="false"><i class="fal fa-minus"></i> Pending</a>
						<a class="btn btn-default js-toggle-done {{getBtnSelectedDone true}}" data-done="true"><i class="fal fa-check"></i> Done</a>
					</div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <a class="btn btn-default {{getBtnSelected -1}} js-toggle-rating" data-rating="-1"><i class="fal fa-thumbs-down"></i> Disliked</a>
						<a class="btn btn-default {{getBtnSelected 0}} js-toggle-rating" data-rating="0">No Vote</a>
						<a class="btn btn-default {{getBtnSelected 1}} js-toggle-rating" data-rating="1"><i class="fal fa-thumbs-up"></i> Liked</a>
					</div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-default btn-block {{getBtnSelectedUnmatched}} js-toggle-unmatched-articles">Show only unmatched</button>
        </div>
      </div>
      <hr>
    </div>
  </div>
</template>
