.profile-image-holder {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-image {
    width: 30px;
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.navbar {

}

.navbar-brand {
  line-height: 30px;
}

.navbar-form {
  border: none;
  margin-top: inherit;
  margin-bottom: inherit;
  margin-right: inherit;
  margin-left: inherit;
}

.input-group-addon {
  background-color: white;
}

.navbar-form input:focus {
  outline: none;
  border: 1px solid #ccc;
}
