.profile-image-holder {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-image {
    width: 30px;
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

.navbar {

}

.navbar-brand {
  line-height: 30px;
}

.navbar-form {
  border-color: inherit !important;
  border: none;
  margin-top: inherit;
  margin-bottom: inherit;
  margin-right: inherit;
  margin-left: inherit;
  width: inherit;
  padding: 10px 15px;
  /* padding-right: 0;
  padding-left: 0; */
  width: 100%;
  box-shadow: none !important;
}

.navbar-form .input-group {
  width: 100%
}

.input-group-addon {
  background-color: white;
}

.navbar-form input:focus {
  outline: none;
  border: 1px solid #ccc;
}
