<template name="dock">
  <footer class="fixed-bottom">
    <div class="row vertical-align">
      <div class="col-xs-6 js-link" data-href="{{getRoute 'home'}}">
        <a href="{{getRoute 'home'}}"><i class="fal fa-bars footer-icon"></i></a>
        <br>
        Feed
      </div>
      <div class="col-xs-6 js-link" data-href="{{getRoute 'stats'}}">
        <a href="{{getRoute 'stats'}}"><i class="fal fa-database footer-icon"></i></a>
        <br>
        Stats
      </div>
    </div>
  </footer>
</template>
